{% extends 'partials/base.html.twig' %}


{% block header %}
	{% include 'partials/header.html.twig' %}
	{% include 'partials/breadcrumbs.html.twig' %}
{% endblock %}



{% block content %}

{% if header.deck %} 
  <div class="pure-g" id="deckblock">  
    <div class="pure-u-1 pure-u-md-3-4">
      <div class="deck">{{ header.deck|e('html') }}</div>
    </div>
  </div>
{% endif %}

<h1 class="title">{{ header.title|e('html') }}</h1>
{% if header.subtitle %} <h1 class="subtitle">{{ header.subtitle|e('html') }}</h1>{% endif %}

<div class="pure-g" id="authordate">  

  <div class="pure-u-1 pure-u-md-3-4">

     {% for au in header.author %}
         <div class="authorblock  pure-u-1 pure-u-md-7-24">
            <p class="author"><span class="auname">{{ au.name|e('html') }}&nbsp;</span><div class="aubio">{{ au.bio|markdown }}</div></p>

            <p class="authoraffil">{% if au.affil %} {{ au.affil|e('html') }}{% endif %}</p>

            <p class="authoremail">{% if au.email %} {{ au.email|e('html') }}</i>{% endif %}</p>
         </div>
      {% endfor %}
    </div>

    <div class="pure-u-1 pure-u-md-1-4">

   <p class="pubdate"><span>{{ header.date|date("F d, Y") }}&nbsp;</span></p>

    </div>  
  </div> 

<div class="pure-g" id="maincontent">  

  <div class="pure-u-1 pure-u-md-3-4">
  <section class="articlecontent">
    {{ page.content }}
  </section>
  </div>

  <div class="pure-u-1 pure-u-md-1-4">
    <div class="metadata-block">

     {% if header.doi %}
     <p class="metahead"><span>DOI:&nbsp;</span></p>
     <p><a href="https://doi.org/{{ header.doi }}">{{ header.doi }}</a></p>
     {% endif %}

      <p class="metahead"><span>Citation:&nbsp;</span></p>
      <p>
      {% for au in header.author %}{% if au.orcid %}<a href="https://orcid.org/{{au.orcid}}" target="_blank">{% endif %}{{ au.name|e('html') }}{% if au.orcid %}</a>{% endif %}, {% endfor %}{{header.date|date("Y")}}. "{{header.title}}{% if header.subtitle %}: {{header.subtitle}}{% endif %}." <i>Pop! Public. Open. Participatory.</i> no. {{page.parent.header.issuenum}}. <a href="https://doi.org/{{header.doi}}">https://doi.org/{{header.doi}}</a>.
      </p>
 
       {% if header.abstract %}<p class="metahead"><span>Abstract:&nbsp;</span></p>{{ header.abstract|markdown }}{% endif %}

      <p class="metahead"><span>License:&nbsp;</span></p>
      <p>{{ header.license|defined() }}</p>

   </div>
  </div>

</div>
{% endblock %}


{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}
