{% extends 'partials/base.html.twig' %}


{% block header %}
	{% include 'partials/header.html.twig' %}
	{% include 'partials/breadcrumbs.html.twig' %}
{% endblock %}




{% block content %}

<div id="metadata_block">
	<h1>{{ header.title|e('html') }}</h1>

	 {% for au in header.author %}
        <p class="author">
        {{ au.name|e('html') }}{% if array_key_exists('affil', au) %}, {{ au.affil|e('html') }}{% endif %}{% if array_key_exists('email', au) %}, {{ au.email|e('html') }}{% endif %}
        </p>
    {% endfor %}

	<p class="date">Published: {{ header.date|date("M d, Y") }}</p>
  {% if array_key_exists('abstract', header) %}<p class="abstract">{{ header.abstract|e('html') }}</p>{% endif %}
</div>


    {{ page.content }}

{% endblock %}
