<!-- ====== This is the crossref registration metadata ======== -->
<!-- This piece of code gets called (and can be turned off after the registration process is done) in default.html.twig just above the 
footer. -->

<!-- Still to be handled: 
- code for first author vs additional authors
- first and last names
 -->
<journal_article publication_type="full_text">
	<titles>
		<title>{{header.title}}</title>
{% if header.subtitle %}    <subtitle>{{header.subtitle}}</subtitle>{% endif %} 
	</titles>
	<contributors>
{% for au in header.author %}
	 <person_name sequence="additional" contributor_role="author">
			<surname>{{ au.name|e('html') }}</surname>
{% if au.orcid %}      <ORCID>https://orcid.org/{{ au.orcid|e('html') }}</ORCID>{% endif %} 
		</person_name>
{% endfor %}
  </contributors>
	<publication_date media_type="online">
		<month>{{ header.date|date("m") }}</month>
		<day>{{ header.date|date("d") }}</day>
		<year>{{ header.date|date("Y") }}</year>
	</publication_date>
	<doi_data>
		<doi>{{ header.doi|defined('TBA') }}</doi>
		<resource>https://popjournal.ca{{page.url}}</resource>
	</doi_data>
</journal_article>






